/* footer elements css */
footer {
    background-color: var(--color-coffee);
    color: white;
    text-align: center;
    padding: 20px 0 40px 0;
    position: static;
    bottom: 0px;
}
footer a {
    text-decoration: none;
    color: var(--color-frenchvanilla);
    cursor: alias;
}
footer p {
    padding-bottom: 2px;
}

/* footer logo css */
.logofooter {
    font-size: 40px !important;
    font-family: 'DM Serif Display', serif !important;
    font-weight: bold !important;
    font-style: italic !important;
    color: var(--color-cream-lt) !important;
}
