@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700&display=swap');

/* FONTS USED IN THE SITE */

/* font-family: 'DM Serif Display', serif; */
/* font-family: 'Frank Ruhl Libre', serif; */
/* font-family: 'Raleway', sans-serif; */

@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --color-coffee: #221806;
  --color-frenchvanilla: #b9b0ab;
  --color-hotchocolate: #342d25;
  --color-brown-lt: #4b4840;
  --color-cream: #f8f5e5;
  --color-cream-lt: #f2f1ec;
}

/* Creating custom styles for Heading Tags */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    font-family: 'Frank Ruhl Libre', serif;
    text-transform: uppercase;
    font-weight: 700;
}
h1::selection, .h1::selection {
    background: var(--color-brown-lt);
    color: var(--color-cream);
}
h1, .h1 { font-size: 44px; }
h2, .h2 { font-size: 40px; }
h3, .h3 { font-size: 36px; }
h4, .h4 { font-size: 32px; }
h5, .h5 { font-size: 26px; }
h6, .h6 { font-size: 22px; }
p { font-size: 110%; }
ul { list-style: none; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.section-heading {
  margin-top: 50px;
  margin-bottom: 25px;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: var(--color-cream);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
